# Create a systemd service file in /etc/systemd/system/docker-container-startup.service
[Unit]
Description=Start Tabby Docker container at boot
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --gpus all -p 8080:8080 -v /var/.tabby:/data --name tabby --rm tabbyml/tabby serve --model TabbyML/SantaCoder-1B --device cuda
ExecStop=/usr/bin/docker stop tabby
ExecStopPost=/usr/bin/docker rm -f tabby

[Install]
WantedBy=default.target
